@font-face {
    font-family: 'Talkin Baseball';
    src: url('../fonts/talkin_baseball.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Bernier Distressed';
    src: url('../fonts/BERNIERDistressedRegular.otf') format('opentype');
  }